<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <title>Spring Boot Thymleaf Application - Checkbox Checked Conditionally</title>
</head>
<body style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg');
            background-size: 100%;">
<div class="container">
<form action="#"
      th:action="@{/update/{id}(id=${user.id})}"
      th:object="${user}"
      method="post">
    <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" th:field="*{name}" id="name" placeholder="Name">
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>
    </div>
    <div class="form-group">
    <label for="password">Password</label>
    <input type="text" class="form-control" th:field="*{password}" id="password" placeholder="Password">
    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</span>
    </div>
    <div class="from-group">
    <label for="email">Email</label>
    <input type="text" class="form-control" th:field="*{email}" id="email" placeholder="Email">
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</span><br>
    </div>
    <div>
    <input type="checkbox" name="active" th:checked="${user.isActive()}" /> isActive
    </div>

    <input type="submit" value="Update User" class="btn btn-primary" placeholder="asdasdasd">
    <input align="center" type="submit" value="Cancel" class="btn btn-primary">




</form>
</div>
</body>
</html>